<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Project portfolio examples</h1> 
    <p>
      Thanks for signing up, username.
      Check out these project portfolio examples!<br> 
    </p>
    <p>
      To see the examples, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for enjoying the website and have a great day!</p>
  </body>
</html>